.containerLogin {
  margin: 10% auto;
  justify-content: center;
  justify-items: center;
  .box {
    width: 350px;
    height: auto;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 10px 25px rgba(40, 40, 48, 0.13);
    text-align: center;

    .icon {
      text-align: center;
      margin-bottom: 20px;
      img {
        max-width: 100px;
      }
    }

    h1 {
      text-align: center;
      padding-bottom: 20%;
    }
    input {
      width: 250px;
      height: 40px;
      margin: 2% 0;
      padding: 5px;
      border-radius: 10px;
      border: 1px solid rgb(0, 170, 19);
    }
    button {
      width: 100px;
      height: 40px;
      margin-top: 20px;
      border-radius: 10px;
      border: none;
      background-color: rgb(0, 170, 19);
      color: white;
      cursor: pointer;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1550px) {
  .containerLogin {
    .box {
      width: 300px;
      height: auto;
      padding: 30px;
      margin-top: -55px;
      h1 {
        padding-bottom: 8%;
      }
      input {
        width: 250px;
        height: 25px;
        margin: 3% 0;
        padding: 10px;
        font-size: 0.9em;
      }
      button {
        width: 100px;
        height: 35px;
        font-size: 0.9em;
        /* maringbottom: 20px; */
      }
      .icon {
        img {
          width: 50px;
          height: 50px;
        }
      }
    }
  }
  
}
