h1,
h2,
h3,
h4 {
  color: rgba(0, 0, 0, 0.747);
}


.chart-container {
  padding: 20px 20px;

  select {
    width: 150px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 14px;
    margin-bottom: 20px;
    margin-top: 20px;
    outline: none;
    height: 40px;
  }
}
.main-content {
  margin-left: 350px; /* margin default lebih kecil */
  padding: 50px;
  flex: 1;
}

.main-content h1 {
  margin-bottom: 50px;
}
/* .main-content h2 {
  margin-bottom: 50px;
} */
.info-cards {
  display: flex;
  gap: 20px;
  margin-bottom: 30px;
}

.card {
  background: white;
  width: 300px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  position: relative;
  border-left: 5px solid #4caf50;

  &:nth-child(2) {
    border-left: 5px solid #be141d;
  }
}

.info-cards .card h4 {
  margin-bottom: 10px;
  color: gray;
}

.card p {
  font-size: 20px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.793);
  padding-bottom: 10px;
}

.card img {
  max-width: 30px;
  position: absolute;
}

.card span {
  padding-left: 35px;
  font-weight: 500;
}

.card .stockup {
  color: rgb(0, 170, 19);
}
.card .stockdown {
  color: #a72828;
}

@media screen and (min-width: 820px) and (max-width: 1550px) {
  .main-content {
    margin-left: 280px;
    padding: 40px;
  }
  .chart-container {
    padding: 0%;
    select {
      width: 150px;
      padding: 8px;
      font-size: 14px;
      margin-bottom: 15px;
      margin-top: 10px;
    }
  }
}
